@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;600&family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600&display=swap'); */




:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --font-heading: 'Montserrat';
  --font-body: 'Lora', serif;
  --font-roboto: "Roboto", sans-serif;  */
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Playfair Display', sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-autumn-white: #fffefa;
  --color-autumn-green: #706D54;
  --color-autumn-brown: #A08963;
  --color-autumn-beige: #C9B194;
  --color-autumn-grey: #303030;
  --color-autumn-black: #5e5e5e;;
  /* --font-roboto: "Roboto", sans-serif;  */
}



@media (prefers-color-scheme: light) {
  :root {
    --background: #303030;
    --foreground: hsl(0, 0%, 23%);
  }
}

body {  
  font-family: var(--font-body); /* Ensure the body uses the correct font */
  background-color: #f8f6ee; /* Soft, warm beige */
  color: #4A3F35; /* Deep brown for contrast */
  /* color: #fffefa; */
}

h1, h2, h3 {
  font-family: var(--font-heading); /* Montserrat applied here */
  color: #A08963;
  font-weight: 800;
  letter-spacing: 0.5px;
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading); /* Ensure fallback is included */
  }
  .font-body {
    font-family: var(--font-body);
  }

  .circle-outline {
    position: absolute;
    border: 2px solid #A08963; /* Autumn brown */
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .circle-outline-small {
    width: 30px;
    height: 30px;
  }

  .concentric-circles {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .concentric-circles .circle {
    position: absolute;
    border: 2px solid rgba(160, 137, 99, 0.3); /* Autumn brown with transparency */
    border-radius: 50%;
    top: 70%;
    left: 0%;
    transform: translate(-50%, -50%);
  }

  .concentric-circles .circle.small {
    width: 200px;
    height: 200px;
  }

  .concentric-circles .circle.medium {
    width: 300px;
    height: 300px;
    border-color: rgba(160, 137, 99, 0.2); /* More transparent */
  }

  .concentric-circles .circle.large {
    width: 400px;
    height: 400px;
    border-color: rgba(160, 137, 99, 0.1); /* Even more transparent */
  }
}

.bg-box {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 40%;
  background-color: #A08963;
  height: 100%;
  z-index: -1;
}